
h1{
	text-transform: uppercase;
	font-size: 180px;
	color:rgb(33, 25, 4);
	font: weight 200px;
	word-spacing: 5px;
	font-family: "Bebas Neue", sans-serif;
	font-weight: 400;
	line-height: 90%;
	text-align: center;
	margin: 10px;
	padding-top: 30px;
	}
	
	.subtitle{
		font-size: 55px;
		color:rgb(165, 137, 67);
		text-align: center;
		margin-top: -10px;
		padding: 20px;
		
	}
	
	
	h2{
		font-size: 70px;
		color:rgb(165, 137, 67);
		text-align:right;
		padding-left: 170px;
		max-width: 60ch;
		text-align: right;
		margin-right: 20px;
		line-height:150px;
	}
	
	body{
		color:rgb(101, 101, 101);
		font-size: 20px;
		margin: 0;
		text-align: center;
	}
	
	pre {
		font-size: 16px;
		color:rgb(101, 101, 101);
		text-align: center;
		margin-top: -40px;
		margin-bottom: 30px;
	}
	
	cite{
		font-size: 20px;
		font-style: italic;
		color:rgb(101, 101, 101);
		text-align: center;

	}
	
	.author{
		color:rgb(59, 59, 59);
		text-align: center;
		margin: 20px;
		font-size: 20px;
        padding-left: 550px;
		padding-right: 450px;
		
	}
	
	footer {
	
		background-color: rgb(241, 241, 241);
		text-align: center;
		font-size: 1.1em;
		font-style: italic;
		padding:30px;
		margin-top:50px;
		
	}
	
	#ending{
		padding-left: 500px;
		padding-right: 100px;
		text-align: center;
	}
	
	
	strong{
		color: rgb(125, 95, 36);
	  }

	a {
		color: rgb(161, 134, 82);
	  }
	
	section{
		/* text-align: right; */
		padding-left: 200px;
		/* max-width: 60ch; */
		text-align: left;
	}
	
	
	.head{
		background-color: rgb(241, 241, 241);
		padding-bottom: 30px;
		
	}
	
	.quote{
		padding-left: 500px;
		max-width: 100ch;
		font-size: 1em;
		font-style: italic;
		margin:30px;
	}
	
	p{
		max-width: 80ch; 

	}
	
	li {
		margin-left: 2em;
		max-width: 70ch;
		color:rgb(59, 59, 59);
		font-family: "Edu QLD Beginner", cursive;
		margin-bottom: 20px
	}